<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomease</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
</head>
<body>
    <div class="cover"></div>
    <header>
        <ul id="nav-menu">
            <li id="nav-item-1" class="nav-items"><span>HOME</span></li>
            <li id="nav-item-2" class="nav-items"><span>ROOMIES</span></li>
            <li id="nav-item-3" class="nav-items"><span>TASKS</span></li>
            <li id="nav-item-4" class="nav-items"><span>EVENTS</span></li>
            <li id="nav-item-5" class="nav-items"><span>UOM</span></li>
            <li id="nav-item-6" class="nav-items"><span>Settings</span></li>
        </ul>
        <div id="mobile-menu-icon"></div>
    </header>

    <main>
        <ul id="mobile-menu" class="nav-menu">
            <li id="mobile-item-1" class="nav-items"><span>HOME</span></li>
            <li id="mobile-item-2" class="nav-items"><span>ROOMIES</span></li>
            <li id="mobile-item-3" class="nav-items"><span>TASKS</span></li>
            <li id="mobile-item-4" class="nav-items"><span>EVENTS</span></li>
            <li id="mobile-item-5" class="nav-items"><span>UOM</span></li>
            <li id="mobile-item-6" class="nav-items"><span>Settings</span></li>
        </ul>
        <div class="hbs-body">
            {{{body}}}
        </div>
    </main>

    <footer>
        <div>
            <ul id="team-list"><span>Meet the Team!</span>
                <a href="https://github.com/Kawaikimono" target="_blank"><li>Aly Geiger</li></a>
                <a href="https://github.com/claricetran" target="_blank"><li>Clarice Tran</li></a>
                <a href="https://github.com/maximusDecimalusMeridius" target="_blank"><li>Andy Gaudy</li></a>
            </ul>
        </div>
    </footer>
    <script src="./js/script.js"></script>
</body>
</html>