:root {
    /* CSS HEX from coolors.co*/
    --jet: #353535ff;
    --caribbean-current: #3c6e71ff;
    --ash-gray: #9eb7b8ff;
    --white: #ffffffff;
    --antiflash-white: #ecececff;
    --platinum: #d9d9d9ff;
    --cadet-gray: #81929eff;
    --paynes-gray: #556f81ff;
    --indigo-dye: #284b63ff;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

img, video {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(237, 242, 244);
}

header {
    width: 100%;
    height: 50px;
}