<div class="content-window">
    <h1 class="content-header">Login</h1>
    <form id="login-form">
        <div>
            <label for="email">Email</label><br>
            <input type="text" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="login-buttons">
            <button id="login-button" type="submit">Login</button>
            <button id="create-button" type="button">Create New Account</button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>