<h1 class="content-header">Roomies</h1>
<div class="content-window">
    <div class="roommate-header">
        {{#each allRoommates}}
            <h2>{{this.first_name}}</h2>
            <div>Tasks</div>
            <div>Events</div>
            <div>UOMs</div>
        {{/each}}
    </div>
</div>